body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #eef2f3;
}


.container {
  width: 400px;
  margin: 120px auto;
  padding: 25px;
  background: white;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}


input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 15px;
}


.message {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}
